@import './null.scss';
@import './firstScreen/firstScreen.scss';
@import './generation/generation.scss';
@import './brands/first/first.scss';
@import './ibg/ibg.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');


.container {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}